 * {
    margin: 0;
    padding:0;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
    line-height: 25px;
    overflow:auto;
}

 .text-center{
     text-align: center;
 }

 .text-justify{
     text-align: justify;
 }

 .titulo-principal{
    font-size: 2em; /* +- 30 px;*/
    color: white;
    padding: 3rem 0;
}

.bg_video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    background: url(../img/Agile.jpg) no-repeat;
    background-size: cover;
   }


   body, html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: 2px 2px 10px #999;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  }

  a, a:hover, a:focus{
    text-decoration: none;
    color: white;
}

  ::selection {
    background: rgba(255,255,255,.5);
    color: #333;
  }
  ::-moz-selection {
    background: rgba(0,0,0,.5);
    color: #607D8B;
  }

  .mobile-screen{
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 300px;
    height: 500px;
    background: rgba(3,3,3,.8);
    overflow: hidden;
  }

  .header{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background: rgba(3,3,3,.1);
  }

  h1{
    margin: 0;
    padding: 10px 0;
    text-align: center;
    font-weight: 300;
    font-size: 21px;
    color: rgba(255,255,255,.5);
  }

  .logo{
    position: relative;
    top: 30px;
    width: 90px;
    height: 120px;
    margin: auto;
    background: url(../img/Logo.png) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  form{
    position: absolute;
    bottom: 50px;
    width: 100%;
  }

  input,
  .login-btn{
    position: relative;
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 84%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  input{
    border: none;
    border-left: 2px solid;
    background: none;
    border-color: #607D8B;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  input:focus{
    outline: 0;
    border-left: 0px solid;
    border-bottom: 2px solid #607D8B;
  }

  .login-btn{
    border-radius: 5px;
    text-align: center;
    background: #607D8B;
    color: #fff;
  }

  .other-options{
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 2px;
    left: 0;
  }

  .option{
    position: relative;
    display: block;
    float: right;
    width: 45%;
    margin: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: rgba(0,0,0,.2);
    border-bottom: 2px solid  #607D8B;
    cursor: pointer;
  }

  .option:first-child{
    float: left;
    left: 3.3%;
  }

  .option:last-child{
    margin-right: 3.3%;
  }

  .option-text{
    position: relative;
    margin: 0;
    line-height: 30px;
    color: #ccc;
    text-align: center;
    font-size: 12px;
    font-weight: 100;
  }

  #fpass-form,
  #registration-form{
    display: none;
  }

  /* Change colors container */
  .change-colors-container{
    position: absolute;
    height: 300px;
    width: 50px;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: rgba(255,255,255,.5);
  }